* {
    outline: none;
}

.flex-center, .flex-center-column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-center-column {
    flex-direction: column;
}

.centered-with-top-margin {
    text-align: center;
    margin: 10px 0 0 0;
}

.padding-right-bottom {
    padding: 0 10px 10px 0;
}

.button, .button-clicked {
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    cursor: pointer;
}

.button-clicked {
    background-color: #ffff99;
    transition: all .3s;
}

.wrong {
    color: red;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}
