* {
    outline: none;
}

.main-container {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container h1 {
    margin: 50px 0 50px 0;
}

.items-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.item {
    background-color: white;
    margin-bottom: 50px;
}

.item h2 {
    margin: 0;
}

.item p {
    margin: 10px 0 0 0;
}

.elements-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    width: 100%;
}

.invisible {
    display: none;
}

.margin-left {
    margin-left: 20px;
}

input {
    border: 0;
    border-bottom: 1px solid gray;
}

.correct {
    color: darkgreen;
}

.wrong {
    color: darkred;
}

svg {
    max-height: 66vh;
}

.state {
    fill: lightgray;
}

.highlight {
    fill: red;
}
